<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.dao.AccountMapper">

    <resultMap id="BaseResultMap" type="com.base.domain.Account">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="is_account_non_expired" property="isAccountNonExpired" jdbcType="BOOLEAN"/>
        <result column="is_account_non_locked" property="isAccountNonLocked" jdbcType="BOOLEAN"/>
        <result column="is_credentials_non_expired" property="isCredentialsNonExpired" jdbcType="BOOLEAN"/>
        <result column="is_enabled" property="isEnabled" jdbcType="BOOLEAN"/>
        <result column="is_deleted" property="isDeleted" jdbcType="BOOLEAN"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
      id,
      username,
      password,
      is_account_non_expired,
      is_account_non_locked,
      is_credentials_non_expired,
      is_enabled,
      is_deleted,
      create_time
    </sql>

    <sql id="Base_Table">
        t_account
    </sql>

    <select id="queryByUserName" resultMap="BaseResultMap">
        select
          <include refid="Base_Column_List"/>
        from
          <include refid="Base_Table"/>
        where
          username = #{username,jdbcType=VARCHAR}
    </select>

    <insert id="addAccount" parameterType="com.base.domain.Account">
        insert
        into
          <include refid="Base_Table"/>
          (
            username,
            password,
            is_account_non_expired,
            is_account_non_locked,
            is_credentials_non_expired,
            is_enabled,
            is_deleted,
            create_time
          )
        values
          (
            #{username,jdbcType=VARCHAR},
            #{password,jdbcType=VARCHAR},
            #{isAccountNonExpired,jdbcType=BOOLEAN},
            #{isAccountNonLocked,jdbcType=BOOLEAN},
            #{isCredentialsNonExpired,jdbcType=BOOLEAN},
            #{isEnabled,jdbcType=BOOLEAN},
            #{isDeleted,jdbcType=BOOLEAN},
            #{createTime,jdbcType=TIMESTAMP}
          )
    </insert>

</mapper>