<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.dao.UserMapper">

    <resultMap id="BaseResultMap" type="com.base.domain.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="account" property="account" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="is_deleted" property="isDeleted" jdbcType="BOOLEAN"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
      id,
      account,
      username,
      password,
      email,
      is_deleted,
      create_time
    </sql>

    <sql id="Base_Table">
        t_user
    </sql>

    <select id="querByUserNameAndPassword" resultMap="BaseResultMap">
        select
          <include refid="Base_Column_List"/>
        from
          <include refid="Base_Table"/>
        where
          username = #{username,jdbcType=VARCHAR}
        and
          password = #{password,jdbcType=VARCHAR}
    </select>

</mapper>